.slider__container {
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
}
.slider__container .slider__box {
  width: 18000px;
}
.slider__container .slide {
  float: left;
  height: 100vh;
  min-height: 400px;
  background-position: center center;
  background-size: cover;
}
.slider__container .nav__button {
  position: relative;
}
.slider__container .nav__button .next__button,
.slider__container .nav__button .prev__button {
  display: table;
  position: absolute;
  width: 200px;
  height: 100vh;
}
.slider__container .nav__button .next__button {
  right: 0px;
  background: linear-gradient(to left, #000000 0%, rgba(0, 0, 0, 0.99) 1%, rgba(0, 0, 0, 0) 100%);
}
.slider__container .nav__button .prev__button {
  left: 0px;
  background: linear-gradient(to right, #000000 0%, rgba(0, 0, 0, 0.99) 1%, rgba(0, 0, 0, 0) 100%);
}
.slider__container .nav__button .vertical_align {
  display: table-cell;
  vertical-align: middle;
}
.slider__container .nav__button:hover {
  cursor: pointer;
}
.main_page_text {
  position: absolute;
  text-align: center;
  right: 30%;
  top: 40%;
}
.main_page_text .name_site {
  font-family: 'Pacifico', cursive;
  color: #0c0c0c;
}
.main_page_text .name_site h1 {
  font-size: 5.5em;
}
.main_page_text .name_site h3 {
  font-size: 3em;
}
.main_page_text .button_gallery {
  margin-top: 3em;
}
#nav-btns {
  position: absolute;
  width: 100%;
  bottom: 20px;
  padding: 0;
  margin: 0;
  text-align: center;
}
.slide-nav-btn {
  position: relative;
  display: inline-block;
  list-style: none;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  margin: 3px;
}
.slide-nav-btn:hover {
  cursor: pointer;
}
