@image_width: image-width('../images/slider-images/285449_pejzazh_vid_krasivo_kartinka_oboi_priroda_1920x1080_(www.GdeFon.ru).jpg');
.gradient(@direction){
	background: linear-gradient(@direction, rgba(0,0,0,1) 0%,rgba(0,0,0,0.99) 1%,rgba(0,0,0,0) 100%);
}
html, body {
	margin: 0;
	padding: 0;
}

.navBurger {
	position: fixed;
	left: 20px;
	top: 20px;
	cursor: pointer;
	background: #111;
	box-sizing: border-box;
	background-clip: content-box;
	width: 30px;
	height: 24px;
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	&:before,
	&:after {
		content: "";
		position: absolute;
		background: #111;
		height: 2px;
		width: 100%;
		right: 0;
		will-change: rotate;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
	&:before {
		top: -10px;
	}
	&:after {
		bottom: -10px;
		width: 90%;
	}
	&.active {
		background: transparent;
		background-clip: content-box;
	}
	&.active:before {
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
		top: 0;
		background: #eee;
		width: 110%;
	}
	&.active:after {
		bottom: 0;
		-webkit-transform: rotate(-135deg);
		transform: rotate(-135deg);
		background: #eee;
		width: 110%;
	}
}

.overlay {
	position: fixed;
	background: #2A3140;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transform-origin: right top;
	transform: scale(0);
	visibility: hidden;
	transition: all .4s ease-in-out;
	overflow: hidden;
	&.open {
		opacity: .99;
		visibility: visible;
		// width: 100%;
		// height: 100%;
		transform: scale(1);
		li {
			display: block;
			animation: fadeInRight .4s cubic-bezier(.42, .83, .7, 1.5) forwards;
			animation-delay: .4s;
			transform: rotate(-7deg);
			transform-origin: right bottom;
			&:nth-of-type(2) {
				animation-delay: .5s;
			}
			&:nth-of-type(3) {
				animation-delay: .6s;
			}
			&:nth-of-type(4) {
				animation-delay: .7s;
			}
			&:nth-of-type(5) {
				animation-delay: .8s;
			}
		}
	}
}

.overlayMenu {
	position: absolute;
	text-align: right;
	right: 10vw;
	bottom: 10vw;
	ul {
		list-style: none;
		padding: 0;
		margin: 0 auto;
		display: block;
		position: relative;
		height: 100%;
		li {
			display: block;
			position: relative;
			opacity: 0;
			width: 100%;
			a {
				display: inline-block;
				border: 1px solid rgba(255,255,255,.09);
				color: #fff;
				text-decoration: none;
				font-size: 30px;
				padding: 10px 40px 10px 40px;
				margin: 5px 0;
				transition: .2s;
				&:hover,
				&:active,
				&:focus {
					transform: translateX(-2px);
					// outline-offset: 2px;
					padding-left: 80px;
					outline: 1px solid rgba(255,255,255,.3);
					background: rgba(255,255,255,.03);
				}
			}
		}
	}
}

.locked {
	overflow: hidden;
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		left: 50px;
	}
	100% {
		opacity: 1;
		left: 0;
		transform: rotate(0deg);
	}
}

// ---------------- Display --------------------
html {
	padding: 80px;
	margin: 0;
	background: #eee;
	color: #222;
	font-weight: 300;
	font-family: 'Raleway';
}


h1 {
	font-size: 2rem;
	color: #222;
}

p {
	line-height: 40px;
	font-size: 16px;
	font-family: 'Crimson Text';
	color: #222;
}



.slider__container {
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
	.slider__box {
		width: (@image_width * 5 + 10000)
	}
	.slide {
		float: left;
		height: 100vh;
		min-height: 400px;
		background-position: center center;
		background-size: cover;
	}
	.nav__button{
		position: relative;
		.next__button, .prev__button{
			display: table;
			position: absolute;
			width: 200px;
			height: 100vh;
		}
		.next__button{
			right: 0px;
			.gradient(to left);
		}
		.prev__button{
			left: 0px;
			.gradient(to right)
		}
		& .vertical_align{
			display: table-cell;
			vertical-align: middle;
		}
		&:hover {
			cursor: pointer;
		}
	}
}
.main_page_text {
	position: absolute;
	text-align: center;
	right: 30%;
	top: 40%;
	.name_site {
		font-family: 'Pacifico', cursive;
		color: #0c0c0c;
		h1 {
			font-size: 5.5em;
		}
		h3 {
			font-size: 3em;
		}
	}
	.button_gallery {
		margin-top: 3em;
	}
}
#nav-btns {
	position: absolute;
	width: 100%;
	bottom: 20px;
	padding: 0;
	margin: 0;
	text-align: center;
}

.slide-nav-btn {
	position: relative;
	display: inline-block;
	list-style: none;
	width: 20px;
	height: 20px;
	background-color: #fff;
	border-radius: 50%;
	margin: 3px;
}

.slide-nav-btn:hover {
	cursor: pointer;
}
