@import "menu.css";
@import url('https://fonts.googleapis.com/css?family=Kurale|Prata|Rubik|Ubuntu|Comfortaa');
body {
  margin: 0;
  padding: 0;
  width: 100%;
  /*-- Стили для основной надписи --*/
  /*-- Стили для слайдера --*/
  /*--Стили для блока "Обо мне"--*/
  /*--Стили для галереи изображений--*/
}
body .main-page-text {
  position: absolute;
  z-index: 1;
  display: table;
  min-width: 400px;
  width: 100%;
  height: 100%;
  color: #fff;
}
body .main-page-text div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
body .main-page-text div h2 {
  font-size: 4.5rem;
  font-family: 'Prata', serif;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}
body .main-page-text div h3 {
  font-size: 2.5rem;
  font-family: 'Kurale', serif;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}
body .main-page-text div .gallery-btn {
  margin: 40px auto;
  display: block;
}
body #block-for-slider {
  width: 100%;
  min-width: 400px;
  margin: 0 auto;
}
body #block-for-slider #viewport {
  width: 100%;
  display: table;
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
body #block-for-slider #viewport #slidewrapper {
  position: relative;
  width: calc(400%);
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
body #block-for-slider #viewport #slidewrapper ul,
body #block-for-slider #viewport #slidewrapper li {
  margin: 0;
  padding: 0;
}
body #block-for-slider #viewport #slidewrapper li {
  width: calc(25%);
  list-style: none;
  display: inline;
  float: left;
}
body #block-for-slider #viewport #slidewrapper li .slide-img {
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
}
body #block-for-slider #viewport #prev-btn,
body #block-for-slider #viewport #next-btn {
  z-index: 999;
  top: 0;
  position: absolute;
  width: 10%;
  height: 100%;
  background-color: rgba(84, 84, 84, 0.1);
  transition: .45s;
  cursor: pointer;
  text-align: center;
}
body #block-for-slider #viewport #prev-btn:hover,
body #block-for-slider #viewport #next-btn:hover {
  transition: .3s;
  background-color: rgba(84, 84, 84, 0.8);
}
body #block-for-slider #viewport #prev-btn {
  left: 0px;
}
body #block-for-slider #viewport #next-btn {
  right: 0px;
}
body #block-for-slider #viewport #nav-btns {
  position: absolute;
  width: 100%;
  bottom: 20px;
  padding: 0;
  margin: 0;
  text-align: center;
}
body #block-for-slider #viewport #nav-btns .slide-nav-btn {
  z-index: 999;
  position: relative;
  display: inline-block;
  list-style: none;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  margin: 3px;
}
body #block-for-slider #viewport #nav-btns .slide-nav-btn:hover {
  cursor: pointer;
}
body .about-me-block {
  background-color: #191919;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
body .about-me-block .about-me-content {
  padding-top: 100px;
  color: #d0d0d0;
  height: 100%;
}
body .about-me-block .about-me-content h2 {
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-size: 3.5rem;
}
body .about-me-block .about-me-content .about-text-img {
  padding-top: 30px;
}
body .about-me-block .about-me-content .about-text-img .about-me-photo {
  background: url('../images/DSC_782633.jpg') center no-repeat;
  background-size: cover;
  height: 350px;
}
body .about-me-block .about-me-content .about-text-img .about-me-text {
  padding: 0px 0px 0px 100px;
  font-family: 'Comfortaa', cursive;
  font-size: 1.2rem;
}
body .gallery-block {
  background: #191919;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
body .gallery-block .gallery-grid {
  padding-top: 200px;
}
body .gallery-block .gallery-grid .img-block {
  background-position: center;
  background-size: cover;
  margin: 10px auto;
  transition: all 0.5s ease-in-out;
}
body .gallery-block .gallery-grid .img-block:hover {
  transform: scale(0.95);
  filter: sepia(300%);
  cursor: pointer;
}
body .blog-block {
  background-color: #191919;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}
body .blog-block .blog-content {
  background-color: #d3d3d3;
  height: 100%;
}
body .footer {
  position: relative;
  bottom: 0px;
}
